:root {
    /* --primary-color: #059c99; */
    --primary-color: #ff8000;
    --primary1-color: #ffc237;
    --secondary-color: #018582;
    --font-size0:50px;
    --font-size1:25px;
    --font-size2:18px;
    --font-size3:16px;
    --text-color:#000000;
}

.footer{
    height: fit-content;
    background-color: #f0f0f0;
    padding: 20px;border-radius: 15px;margin-top: 50px;
    display: flex;justify-content: space-evenly;align-items: center;flex-wrap: wrap;gap: 10px;
}
.connectData{
    font-size: 20px;
    display: flex;gap: 10px;
    color: black;text-decoration: none;
    width: fit-content;transition: all 1s;
}
.footer_text{transition: all 1s;}
.footer_Icon{transition: all 1s;}
.IconsStyle{
    color: var(--primary-color) !important;
}
/* .connectData:hover{transform: scale(1.05);text-shadow: 2px 2px 2px var(--primary-color);} */
.connectData:hover .footer_text{transform: scale(1.05);text-shadow: 2px 2px 1px var(--primary-color);}
.connectData:hover .footer_Icon{transform: scale(1.05);text-shadow: 2px 2px 2px var(--text-color);}
.copy_div{
    color: rgba(0, 0, 0, 0.886);
    height: fit-content;text-align: center;
    transform: scale(1.05);text-shadow: 1px 1px 1px var(--primary1-color);font-size: 18px;
}
